
# FVM Version Cache
.fvm/
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/additional_project_files.txt
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/additional_project_files.txt
/example/android/app/.cxx/Debug/i2d5n705/x86/additional_project_files.txt
/example/android/app/.cxx/Debug/i2d5n705/x86_64/additional_project_files.txt
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/android_gradle_build.json
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/android_gradle_build.json
/example/android/app/.cxx/Debug/i2d5n705/x86/android_gradle_build.json
/example/android/app/.cxx/Debug/i2d5n705/x86_64/android_gradle_build.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/android_gradle_build_mini.json
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/android_gradle_build_mini.json
/example/android/app/.cxx/Debug/i2d5n705/x86/android_gradle_build_mini.json
/example/android/app/.cxx/Debug/i2d5n705/x86_64/android_gradle_build_mini.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/build.ninja
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/build.ninja
/example/android/app/.cxx/Debug/i2d5n705/x86/build.ninja
/example/android/app/.cxx/Debug/i2d5n705/x86_64/build.ninja
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/build_file_index.txt
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/build_file_index.txt
/example/android/app/.cxx/Debug/i2d5n705/x86/build_file_index.txt
/example/android/app/.cxx/Debug/i2d5n705/x86_64/build_file_index.txt
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/example/android/app/.cxx/Debug/i2d5n705/x86/.cmake/api/v1/query/client-agp/cache-v2
/example/android/app/.cxx/Debug/i2d5n705/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/.cmake/api/v1/reply/cache-v2-1cfa2cffb94e6be99517.json
/example/android/app/.cxx/Debug/i2d5n705/x86_64/.cmake/api/v1/reply/cache-v2-91968492cb88691c0dc2.json
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/.cmake/api/v1/reply/cache-v2-83364728127a65a470cd.json
/example/android/app/.cxx/Debug/i2d5n705/x86/.cmake/api/v1/reply/cache-v2-b5341e1117a87b1b0926.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/cmake.check_cache
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/cmake.check_cache
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/cmake.check_cache
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/cmake.check_cache
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/cmake_install.cmake
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/cmake_install.cmake
/example/android/app/.cxx/Debug/i2d5n705/x86/cmake_install.cmake
/example/android/app/.cxx/Debug/i2d5n705/x86_64/cmake_install.cmake
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeCache.txt
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeCache.txt
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeCache.txt
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeCache.txt
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/example/android/app/.cxx/Debug/i2d5n705/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/example/android/app/.cxx/Debug/i2d5n705/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/example/android/app/.cxx/Debug/i2d5n705/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-0d2c2616cb4255ef2a13.json
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-bf26aef1b270f2286474.json
/example/android/app/.cxx/Debug/i2d5n705/x86/.cmake/api/v1/reply/cmakeFiles-v1-e071981ead33be37ba14.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-f4b03873c62d8c1488e9.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/example/android/app/.cxx/Debug/i2d5n705/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/example/android/app/.cxx/Debug/i2d5n705/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/example/android/app/.cxx/Debug/i2d5n705/x86/.cmake/api/v1/reply/codemodel-v2-5395ee3971a257e55b08.json
/example/android/app/.cxx/Debug/i2d5n705/x86_64/.cmake/api/v1/reply/codemodel-v2-a62daaa14d2799776370.json
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-d076fdc441790fad7673.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-f8d868f0568f82d3fedd.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/configure_fingerprint.bin
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/configure_fingerprint.bin
/example/android/app/.cxx/Debug/i2d5n705/x86/configure_fingerprint.bin
/example/android/app/.cxx/Debug/i2d5n705/x86_64/configure_fingerprint.bin
/.idea/libraries/Dart_Packages.xml
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/example/android/app/.cxx/Debug/i2d5n705/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/example/android/app/.cxx/Debug/i2d5n705/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/.idea/git_toolbox_prj.xml
/example/android/app/.cxx/Debug/i2d5n705/hash_key.txt
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/.cmake/api/v1/reply/index-2025-04-04T02-18-09-0510.json
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-04T02-18-14-0905.json
/example/android/app/.cxx/Debug/i2d5n705/x86/.cmake/api/v1/reply/index-2025-04-04T02-18-15-0155.json
/example/android/app/.cxx/Debug/i2d5n705/x86_64/.cmake/api/v1/reply/index-2025-04-04T02-18-15-0419.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/metadata_generation_command.txt
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/metadata_generation_command.txt
/example/android/app/.cxx/Debug/i2d5n705/x86/metadata_generation_command.txt
/example/android/app/.cxx/Debug/i2d5n705/x86_64/metadata_generation_command.txt
/.idea/misc.xml
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/prefab_config.json
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/prefab_config.json
/example/android/app/.cxx/Debug/i2d5n705/x86/prefab_config.json
/example/android/app/.cxx/Debug/i2d5n705/x86_64/prefab_config.json
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/rules.ninja
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/rules.ninja
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/rules.ninja
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/rules.ninja
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/symbol_folder_index.txt
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/symbol_folder_index.txt
/example/android/app/.cxx/Debug/i2d5n705/x86/symbol_folder_index.txt
/example/android/app/.cxx/Debug/i2d5n705/x86_64/symbol_folder_index.txt
/example/android/app/.cxx/Debug/i2d5n705/arm64-v8a/CMakeFiles/TargetDirectories.txt
/example/android/app/.cxx/Debug/i2d5n705/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/example/android/app/.cxx/Debug/i2d5n705/x86/CMakeFiles/TargetDirectories.txt
/example/android/app/.cxx/Debug/i2d5n705/x86_64/CMakeFiles/TargetDirectories.txt
